<div class="flex-item">
  <% if (user) { %>
    <a href="/logout">Log Out</a>
<% } else { %>
    <a href="/auth/google">Login with Google</a>
<% } %>
</div>
<div class="flex-item" id="nav-menu">
  Back to Menu
</div>
<div class="flex-item flex-end">
  Logo
</div>