<!-- Main page once logged in -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible">
  <link rel='stylesheet' href="/stylesheets/reset.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title></title>
</head>
<body>
  <header>
    <nav>
      <!-- include nav bar -->
    </nav>
  </header>
  <content>
    <!-- include content -->
  </content>
  <aside>
    <!-- include aside -->
  </aside>
</body>
</html>