<!-- Main page once logged in -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script defer src="/javascripts/main.js"></script>
  <title></title>
</head>
<body>
  <header>
    <nav>
      <%- include('./partials/nav') %>
    </nav>
  </header>
  <content>
    <%- /* include('./partials/contents/navigate.ejs') */ %>
    <%- /* include('./partials/contents/lesson.ejs') */ %>
    <!-- if statement for navigate or lesson partial -->
  </content>
  <aside>
    <!-- include aside -->
  </aside>
</body>
</html>