*, *::before, *::after {
  box-sizing: border-box;
}


body {
  display: grid;
  grid-template-columns: 465px 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas:
  "hdr hdr"
  "side content";
  background: rgba(0, 0, 0, 0.5);
  /* position: fixed; */
}

header {
  grid-area: hdr;
  background-color: rgb(247, 235, 248);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 475px 1fr 130px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
}

#search {
  padding: 45px;
  justify-self: center;
  width: 100%;
}

#search input {
  background: url('/images/icons/search-glass.png') no-repeat left 7px center;
  background-size: 20px 20px;
  padding: 6px 15px 6px 40px;
  margin: 3px; 
  border-radius: 2px;
  height: 40px;
  width: 270px;
}

#search button {
  width: 65px;
  height: 40px;
}

#page-title {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

h1 {
  margin-left: 80px;
  text-transform: uppercase;
}

header #user-menu {
  background: rgba(200, 70, 200, 0.7);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#user-menu img, #page-title img {
  height: 40px;
  margin: 0 10px;
}

#side-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 20px;
}

#nav-bar {
  height: 120px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 25px;
  background-color: rgb(71,71,101);
}

#nav-tools {
  position: sticky;
  top: 75px;
  z-index: 5;
}

#nav-bar div {
  margin-top: 20px;
  padding: 20px;
}

#nav-bar .active {
  background-color: rgb(247, 235, 248);
  border-radius: 30px 30px 0 0;
}

#nav-bar img {
  height: 50px;
  margin: auto;
}

#nav-bar #nav-margin {
  background-color: rgb(247, 235, 248);
  width: 375px;
  margin-top: -10px;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
}

#nav-margin img {
  height: 20px;
  width: 60px;
}

#nav-margin #nav-stripe {
  height: 5px;
  width: 100%;
  padding: 0;
  background-color: black;
  border-radius: 30px;
}

#nav-pane {
  display: flex;
  flex-direction: column;
  margin: 50px 25px 0 25px;
  background-color: rgb(247, 235, 248);
}

#nav-pane * {
  padding: 0 20px;
}

#nav-pane h3 {
  margin-bottom: 30px;
}

#nav-pane-bookmark li {
	margin: 0;
	padding: 10px 0 10px 30px;
	list-style: none;
	background-image: url('/images/icons/navigate-bookmark.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}

#nav-pane-tree-list li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 10px 0 10px 30px;
  list-style: none;
  background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}

#nav-pane-tree-list .tree {
	background-image: url('/images/icons/tree-static.png');
}

/* Create the caret/arrow with a unicode, and style it */
#nav-pane-tree-list .lesson {
  background-image: url('/images/icons/file.png');
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
#nav-pane-tree-list .tree-expand {
  background-image: url('/images/icons/tree-active.png');
}

#nav-pane-tree-list .nested {
  display: none;
}

#nav-pane-tree-list .active {
  display: block;
}

content {
  grid-area: content;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 100%;
  padding: 50px 30px;
}

aside {
  grid-area: side;
  background-color: rgb(71, 71, 101);
}

nav {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
}

nav div.flex-item {
  padding: 10px;
}

nav div.flex-item.flex-end {
  margin-right: auto;
}

#comment-container .comment {
  display: flex;
  flex-flow: row wrap;
  width: 435px;
  position: absolute;
  z-index: 1;
  background-color: rgba(247, 235, 248, 0.8);
  border-radius: 30px;
}

.comment .comment-side {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100px;
  margin: 15px 0;
}

.comment .comment-side-avatar {
  width: 75px;
  margin: 12px 0;
}
.comment .comment-side-avatar img {
  width: 100%;
  border-radius: 50%;
}

.comment .comment-main {
  display: flex;
  flex-flow: column nowrap;
  width: 335px;
}

.comment .comment-main-control {
  align-self: flex-end;
}

.comment .comment-main-control img, .comment .comment-more img {
  width: 30px;
  margin: 10px 15px;
}

.comment .comment-main-content {
  background-color: rgba(247, 235, 248, 1);
  margin-right: 15px;
  padding: 5px;
  border: 1px solid rgb(55,54,82);
  border-radius: 5px;
}

.comment .comment-more {
  display: flex;
  flex-flow: column nowrap;
}

.comment .comment-more img {
  
}