<div id="navigate">
  <!-- provide contents of tree search -->
  <!-- for each node  -->


  <!-- <div class="navigate-line"> include class for depth in tree -->
    <!-- <i></i>
    <span>Lesson Name</span>
  </div> -->


<!-- junk lines -->
<a href="/lessons/5d60d9cfc99822652acd1f34">Welcome Lesson</a>
  <div class="navigate-line line-0">
    <i class="close"></i>
    <span>Closed Tree</span>
  </div>
  <div class="navigate-line line-1">
    <i class="open"></i>
    <span>Open Tree</span>
  </div>
  <div class="navigate-line line-2">
    <i class="study"></i>
    <span>Lesson</span>
  </div>



</div>
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>